In [52]:
import requests
import pandas as pd
# Librería que convierte la respuesta xml 
# de la api a un diccionario.
import xmltodict

In [56]:
indicador = 'SP.DYN.LE00.IN'
pais = 'all'
iyear = '2000'
fyear = '2002'
date = iyear + ':'+fyear
api_url = ' http://api.worldbank.org/V2'
path = f'/country/{pais}/indicator/{indicador}?date={iyear}:{fyear}&format=json&prefix=Getdata'
url = api_url + path
url

dict_data = requests.get(url).json()[1]
dict_data

[{'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
  'countryiso3code': 'AFE',
  'date': '2002',
  'value': 52.0431492826438,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
  'countryiso3code': 'AFE',
  'date': '2001',
  'value': 51.6064582838941,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'},
  'countryiso3code': 'AFE',
  'date': '2000',
  'value': 51.2761288844047,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
  'countryiso3code': 'AFW',
  'date': '2002',
  'value': 49.8169286273063,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
  'countryiso3code': 'AFW',
  'date': '2001',
  'value': 49.4751356037932,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'ZI', 'value': 'Africa Western and Central'},
  'countryiso3code': 'AFW',
  'date': '2000',
  'value': 49.2197138106225,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': '1A', 'value': 'Arab World'},
  'countryiso3code': 'ARB',
  'date': '2002',
  'value': 68.3402463203748,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': '1A', 'value': 'Arab World'},
  'countryiso3code': 'ARB',
  'date': '2001',
  'value': 68.0725186351364,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': '1A', 'value': 'Arab World'},
  'countryiso3code': 'ARB',
  'date': '2000',
  'value': 67.8005914484374,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'S3', 'value': 'Caribbean small states'},
  'countryiso3code': 'CSS',
  'date': '2002',
  'value': 71.7133625669446,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'S3', 'value': 'Caribbean small states'},
  'countryiso3code': 'CSS',
  'date': '2001',
  'value': 71.537999419379,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'S3', 'value': 'Caribbean small states'},
  'countryiso3code': 'CSS',
  'date': '2000',
  'value': 71.4191794169244,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
  'countryiso3code': 'CEB',
  'date': '2002',
  'value': 73.2424154880921,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
  'countryiso3code': 'CEB',
  'date': '2001',
  'value': 73.0961481937343,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'},
  'countryiso3code': 'CEB',
  'date': '2000',
  'value': 72.719724722779,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'V2', 'value': 'Early-demographic dividend'},
  'countryiso3code': 'EAR',
  'date': '2002',
  'value': 65.0651668967003,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'V2', 'value': 'Early-demographic dividend'},
  'countryiso3code': 'EAR',
  'date': '2001',
  'value': 64.73386603595,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'V2', 'value': 'Early-demographic dividend'},
  'countryiso3code': 'EAR',
  'date': '2000',
  'value': 64.4030772420034,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'Z4', 'value': 'East Asia & Pacific'},
  'countryiso3code': 'EAS',
  'date': '2002',
  'value': 71.7747648581386,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'Z4', 'value': 'East Asia & Pacific'},
  'countryiso3code': 'EAS',
  'date': '2001',
  'value': 71.4817171620473,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'Z4', 'value': 'East Asia & Pacific'},
  'countryiso3code': 'EAS',
  'date': '2000',
  'value': 71.1719187711375,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': '4E',
   'value': 'East Asia & Pacific (excluding high income)'},
  'countryiso3code': 'EAP',
  'date': '2002',
  'value': 70.7483653259318,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': '4E',
   'value': 'East Asia & Pacific (excluding high income)'},
  'countryiso3code': 'EAP',
  'date': '2001',
  'value': 70.4422854482861,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': '4E',
   'value': 'East Asia & Pacific (excluding high income)'},
  'countryiso3code': 'EAP',
  'date': '2000',
  'value': 70.136177010739,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'T4',
   'value': 'East Asia & Pacific (IDA & IBRD countries)'},
  'countryiso3code': 'TEA',
  'date': '2002',
  'value': 70.7972306437662,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'T4',
   'value': 'East Asia & Pacific (IDA & IBRD countries)'},
  'countryiso3code': 'TEA',
  'date': '2001',
  'value': 70.4979435940744,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'T4',
   'value': 'East Asia & Pacific (IDA & IBRD countries)'},
  'countryiso3code': 'TEA',
  'date': '2000',
  'value': 70.1984151714155,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'XC', 'value': 'Euro area'},
  'countryiso3code': 'EMU',
  'date': '2002',
  'value': 78.6844678732507,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'XC', 'value': 'Euro area'},
  'countryiso3code': 'EMU',
  'date': '2001',
  'value': 78.5971125491709,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'XC', 'value': 'Euro area'},
  'countryiso3code': 'EMU',
  'date': '2000',
  'value': 78.2750703806688,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'Z7', 'value': 'Europe & Central Asia'},
  'countryiso3code': 'ECS',
  'date': '2002',
  'value': 73.4064878913644,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'Z7', 'value': 'Europe & Central Asia'},
  'countryiso3code': 'ECS',
  'date': '2001',
  'value': 73.2935511418415,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'Z7', 'value': 'Europe & Central Asia'},
  'countryiso3code': 'ECS',
  'date': '2000',
  'value': 73.0289483910262,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': '7E',
   'value': 'Europe & Central Asia (excluding high income)'},
  'countryiso3code': 'ECA',
  'date': '2002',
  'value': 67.5872649281583,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': '7E',
   'value': 'Europe & Central Asia (excluding high income)'},
  'countryiso3code': 'ECA',
  'date': '2001',
  'value': 67.491945330305,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': '7E',
   'value': 'Europe & Central Asia (excluding high income)'},
  'countryiso3code': 'ECA',
  'date': '2000',
  'value': 67.337566425936,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'T7',
   'value': 'Europe & Central Asia (IDA & IBRD countries)'},
  'countryiso3code': 'TEC',
  'date': '2002',
  'value': 68.4389824667187,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'T7',
   'value': 'Europe & Central Asia (IDA & IBRD countries)'},
  'countryiso3code': 'TEC',
  'date': '2001',
  'value': 68.3400644581373,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'T7',
   'value': 'Europe & Central Asia (IDA & IBRD countries)'},
  'countryiso3code': 'TEC',
  'date': '2000',
  'value': 68.1563234347439,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'EU', 'value': 'European Union'},
  'countryiso3code': 'EUU',
  'date': '2002',
  'value': 77.5327215413442,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'EU', 'value': 'European Union'},
  'countryiso3code': 'EUU',
  'date': '2001',
  'value': 77.4254833773953,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'EU', 'value': 'European Union'},
  'countryiso3code': 'EUU',
  'date': '2000',
  'value': 77.0784477991604,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'F1', 'value': 'Fragile and conflict affected situations'},
  'countryiso3code': 'FCS',
  'date': '2002',
  'value': 55.9606327400661,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'F1', 'value': 'Fragile and conflict affected situations'},
  'countryiso3code': 'FCS',
  'date': '2001',
  'value': 55.6017768768961,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'F1', 'value': 'Fragile and conflict affected situations'},
  'countryiso3code': 'FCS',
  'date': '2000',
  'value': 55.3122503226656,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'XE', 'value': 'Heavily indebted poor countries (HIPC)'},
  'countryiso3code': 'HPC',
  'date': '2002',
  'value': 53.2966472835078,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'XE', 'value': 'Heavily indebted poor countries (HIPC)'},
  'countryiso3code': 'HPC',
  'date': '2001',
  'value': 52.7493423437178,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'XE', 'value': 'Heavily indebted poor countries (HIPC)'},
  'countryiso3code': 'HPC',
  'date': '2000',
  'value': 52.2641006114192,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'XD', 'value': 'High income'},
  'countryiso3code': '',
  'date': '2002',
  'value': 77.8892071129432,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.DYN.LE00.IN',
   'value': 'Life expectancy at birth, total (years)'},
  'country': {'id': 'XD', 'value': 'High income'},
  'countryiso3code': '',
  'date': '2001',
  'value': 77.7533590298272,
  'unit': '',
  'obs_status': '',
  'decimal': 0}]

In [57]:
type(dict_data)

list

In [58]:
# Verifico la salida de uno de estos diccionarios 
# dentro de la lista de diccionarios
data = pd.DataFrame(dict_data[0])
data

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
id,SP.DYN.LE00.IN,ZH,AFE,2002,52.043149,,,0
value,"Life expectancy at birth, total (years)",Africa Eastern and Southern,AFE,2002,52.043149,,,0

In [61]:
# Mido el largo de la respuesta que es una lista
extención = len(dict_data)
extención

50

In [62]:
# sumo todos los pequeños diccionarios que se encuentran en la lista
sumatoria = [dict_data[i] for i in range(extención)]
data = pd.json_normalize(sumatoria)

In [63]:
data

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2002,52.043149,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2001,51.606458,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
2,AFE,2000,51.276129,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
3,AFW,2002,49.816929,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZI,Africa Western and Central
4,AFW,2001,49.475136,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZI,Africa Western and Central
5,AFW,2000,49.219714,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZI,Africa Western and Central
6,ARB,2002,68.340246,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",1A,Arab World
7,ARB,2001,68.072519,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",1A,Arab World
8,ARB,2000,67.800591,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",1A,Arab World
9,CSS,2002,71.713363,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",S3,Caribbean small states
10,CSS,2001,71.537999,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",S3,Caribbean small states
11,CSS,2000,71.419179,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",S3,Caribbean small states
12,CEB,2002,73.242415,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",B8,Central Europe and the Baltics
13,CEB,2001,73.096148,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",B8,Central Europe and the Baltics
14,CEB,2000,72.719725,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",B8,Central Europe and the Baltics
15,EAR,2002,65.065167,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",V2,Early-demographic dividend
16,EAR,2001,64.733866,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",V2,Early-demographic dividend
17,EAR,2000,64.403077,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",V2,Early-demographic dividend
18,EAS,2002,71.774765,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",Z4,East Asia & Pacific
19,EAS,2001,71.481717,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",Z4,East Asia & Pacific
20,EAS,2000,71.171919,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",Z4,East Asia & Pacific
21,EAP,2002,70.748365,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",4E,East Asia & Pacific (excluding high income)
22,EAP,2001,70.442285,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",4E,East Asia & Pacific (excluding high income)
23,EAP,2000,70.136177,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",4E,East Asia & Pacific (excluding high income)
24,TEA,2002,70.797231,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",T4,East Asia & Pacific (IDA & IBRD countries)
25,TEA,2001,70.497944,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",T4,East Asia & Pacific (IDA & IBRD countries)
26,TEA,2000,70.198415,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",T4,East Asia & Pacific (IDA & IBRD countries)
27,EMU,2002,78.684468,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",XC,Euro area
28,EMU,2001,78.597113,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",XC,Euro area
29,EMU,2000,78.275070,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",XC,Euro area
30,ECS,2002,73.406488,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",Z7,Europe & Central Asia
31,ECS,2001,73.293551,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",Z7,Europe & Central Asia
32,ECS,2000,73.028948,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",Z7,Europe & Central Asia
33,ECA,2002,67.587265,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",7E,Europe & Central Asia (excluding high income)
34,ECA,2001,67.491945,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",7E,Europe & Central Asia (excluding high income)
35,ECA,2000,67.337566,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",7E,Europe & Central Asia (excluding high income)
36,TEC,2002,68.438982,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",T7,Europe & Central Asia (IDA & IBRD countries)
37,TEC,2001,68.340064,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",T7,Europe & Central Asia (IDA & IBRD countries)
38,TEC,2000,68.156323,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",T7,Europe & Central Asia (IDA & IBRD countries)
39,EUU,2002,77.532722,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",EU,European Union
40,EUU,2001,77.425483,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",EU,European Union
41,EUU,2000,77.078448,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",EU,European Union
42,FCS,2002,55.960633,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",F1,Fragile and conflict affected situations
43,FCS,2001,55.601777,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",F1,Fragile and conflict affected situations
44,FCS,2000,55.312250,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",F1,Fragile and conflict affected situations
45,HPC,2002,53.296647,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",XE,Heavily indebted poor countries (HIPC)
46,HPC,2001,52.749342,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",XE,Heavily indebted poor countries (HIPC)
47,HPC,2000,52.264101,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",XE,Heavily indebted poor countries (HIPC)
48,,2002,77.889207,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",XD,High income
49,,2001,77.753359,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",XD,High income